@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #75ff25;
  --secondary: #f4f4f4;

  --gray: #f4f4f4;
  --darkgray: #b9b9ba;
}

body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}

* {
  color: #050505;
  margin: 0;
}

p {
  margin: 20px 0;
}

button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: rgb(11, 11, 11);
  background: var(--primary);
  cursor: pointer;
}

/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}

header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}

header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

header nav a.active {
  background: var(--primary);
}

hr {
  color: #c6c6c6;
}
/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
}

/* help layout */
.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}

.help-layout nav a {
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  text-decoration: none;
}

.help-layout nav a:hover {
  border-color: var(--primary);
}

.help-layout nav a.active {
  background: var(--primary);
}

/* faq */
.faq .question {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact form */
form {
  margin-top: 30px;
}

form input,
form label span,
form textarea {
  display: block;
  border-color: darkgray;
}

form input,
form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 1;
  width: 300px;
  color: rgb(0, 0, 0);
}

input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
button {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

form label span {
  margin-bottom: 10px;
}

/* chapters list */
.chapters > a {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}

.chapters > a:hover p {
  color: var(--primary);
}

.chapters p {
  margin: 0;
}

.chapters > a p:last-child {
  font-size: 0.8em;
  color: #f92727;
}

/* chapters details */
.chapters-details {
  background: rgb(124, 255, 104);
  padding: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 20px 0;
  font-weight: bold;
  box-shadow: 3px 3px 0 3px #e4e4e4;
  border: 0px solid;
}

.chapters-details-1 {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding-top: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 20px 0;
  box-shadow: 3px 3px 0 3px #e4e4e4;
  border: 0px solid;
}

.chapters-details-1 p {
  padding-left: 15px;
}

/* Verses*/
.verses-details {
  background: rgb(124, 255, 104);
  padding: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 20px 0;
  font-size: x-large;
  border: 0px solid;
}
.surah-name {
  font-size: large;
  color: rgb(209, 209, 209);
  box-shadow: 3px 3px 0 3px #e4e4e4;
  padding-bottom: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 20px 0;
}
.verses-details-1 {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 10px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 20px 0;
  font-size: medium;
  border: 0px solid;
}
.verses-footnotes {
  background: rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  padding: 10px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 20px 0;
  font-size: small;
}

.versess-details-1 p {
  padding-left: 15px;
}

/* breadcrumbs */
.breadcrumbs {
  max-width: 1200px;
  margin: 20px auto;
}

.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}

.breadcrumbs .crumb:after {
  content: ">";
  margin-left: 10px;
}

.breadcrumbs .crumb:last-child:after {
  display: none;
}

.breadcrumbs .crumb a {
  color: #000000;
}

.surahs-details {
  height: 80px;
  background: rgb(124, 255, 104);
  padding: 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 20px 0;

  box-shadow: 3px 3px 0 3px #e4e4e4;
  border: 0px solid;
}

#container-player {
  display: flex;
  flex-wrap: wrap;
}

#nameDiv {
  margin: auto;
  width: 10%;
  float: left;
}

#playerDiv {
  display: inline;
  width: 90%;
  float: right;
}

/* Custom Select wrapper */
select {
  /* Reset Select */
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
  padding-bottom: 10px;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #3ef54a;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

/* Other styles*/

.container {
  display: flex;
  justify-content: center;
  align-items: absolute;
  margin-bottom: 20px;
}

*/ .down_note {
  display: flex;
  justify-content: center;
}

/* verses **/
.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  margin-top: 10px;
  background: rgb(229, 229, 229);
}

.footer {
  margin-bottom: 20px;
  background: rgb(229, 229, 229);
}

.main {
  text-align: left;
  background: RGB(244, 244, 244);
}

.aside-1 {
  max-width: 50px;
  background: rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-2 {
  max-width: 50px;
  background: rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-main {
  padding-left: 10px;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  font-size: small;
}
.info-container {
  display: flex;
  gap: 5px;
}
.info-item {
  max-width: 100px;
  max-height: 15px;
  flex: 1 0 30%;
  border-style: 1px #c6c6c6;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 3;
  }
  .footer {
    order: 4;
  }
}
